version: '3'
services:
  mysql:
    image: mariadb:latest
    container_name: mysql-library
    volumes:
      - ~/.docker/mariadb:/var/lib/mysql
    ports: 
      - "3306:3306"
    env_file:
      - docker/docker-compose-env/database.env  
  redis:
    image: redis:alpine
    container_name: redis-library
    command: ['redis-server', '--bind','0.0.0.0','--requirepass', 'testes','--port','6380']
    volumes:
      - redis-data:/data
    ports: 
    - "6380:6380"
  php:
    build:
      context: .
      dockerfile: ./docker/php8-fpm/Dockerfile
    image: repo-registry-local/libraryapitest-app-example:v4.0
    container_name: php-library-example
    depends_on:
      - redis
      - mysql
      - rabbitmq
    command: bash -c "php artisan migrate && php-fpm"
    env_file:
      - docker/docker-compose-env/application.env
    links:
      - mysql
      - redis
      - rabbitmq
    volumes:
     - ./application/:/app:rw
     - /app/vendor
  worker-php:
    build:
      context: .
      dockerfile: ./docker/php8-fpm/Dockerfile
    image: libraryapiotra:php-worker-example
    container_name: php-library-example-worker
    depends_on:
      - mysql
    command: sh -c "crontab scheduler.txt; cron -f; php-fpm  ; php-fpm -v"
    env_file:
      - docker/docker-compose-env/application.env
    environment:
      APP_NAME: 'Scheduler - Library API'
    links:
      - mysql
      - redis
    volumes:
      - ./application/:/app:rw
      - /app/vendor
  worker-queue:
    build:
      context: .
      dockerfile: ./docker/php8-fpm/Dockerfile
    image: libraryapiotra:php-worker-queue
    container_name: php-library-worker-queue-example
    depends_on:
      - mysql
      - rabbitmq
    command: sh -c "php /app/artisan queue:work --verbose --tries=7 --timeout=90"
    env_file:
      - docker/docker-compose-env/application.env
    environment:
      APP_NAME: 'Queue Worker - Library API'
    links:
      - mysql
      - redis
      - rabbitmq
    volumes:
      - ./application/:/app:rw
      - /app/vendor
  web:
    image: nginx:1.19-alpine
    container_name: nginx-library
    depends_on:
      - php
    volumes:
      - ./docker/nginx/default:/etc/nginx/conf.d/default.conf
      - ./application/:/app:rw
    ports:
      - 80:80
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    volumes:
        - ~/.docker/rabbitmq/data/:/var/lib/rabbitmq/
    env_file:
      - docker/docker-compose-env/messagequeue.env
    ports:
        - 5672:5672
        - 15672:15672
volumes:
  redis-data:
    driver: "local"
  mysql-data:
    driver: "local"