APP_NAME=Library API
APP_KEY='base64:a89Bj62VIrzfDCsb3m8BNU+JedVKtEZEmqif25fR2g0='
APP_ENV=local
DB_PORT=3306
DB_USERNAME=sandbox
DB_DATABASE=library_admin
DB_PASSWORD=sandbox
DB_HOST=mysql
DB_CONNECTION=mysql
MYSQL_CONNECTION=mysql
MYSQL_HOST=mysql
REDIS_HOST=redis
REDIS_PORT=6380
REDIS_PASSWORD=testes
DEBUG=1
CACHE_CONNECTION=mysql
CACHE_DRIVER=redis
SESSION_DRIVER=redis
LOG_CHANNEL=stderr
LOG_STDERR_FORMATTER=Monolog\Formatter\JsonFormatter
QUEUE_DRIVER=rabbitmq
QUEUE_CONNECTION=rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_LOGIN=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_QUEUE=test